In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
retail_data=pd.read_csv('/content/retail_dataset.csv')

In [ ]:
#data=pd.DataFrame({'TID':['T1','T2','T3','T4','T5'],
                   'Items':['Laptop,Monitor,Printer','Mouse,Monitor,Keyboard','Laptop,Mouse,Monitor,Keyboard','Mouse,Keyboard','Laptop,Monitor,Keyboard']})

In [ ]:
#data=pd.DataFrame({'TID':['T1','T2','T3','T4','T5'],
                   'Items':['Milk,Bread,Butter','Snack,Bread,Soda','Milk,Snack,Bread,Soda','Snack,Soda','Milk,Bread,Soda']})

In [6]:
retail_data

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

In [ ]:
supa = retail_data.copy()
supa.drop(columns='TID',inplace=True)
new_items=supa['Items'].str.split(",",n=-1,expand=True)
new_items

In [ ]:
unique_items=[]
#print(list(new_items.columns))
for col in list(new_items.columns):
  #print('\n',new_items[col].unique())
  unique_items.append(list(new_items[col].unique()))
#items=set(unique_items)
unique_items=new_items[0].append(new_items[1]).unique()
unique_items
items = unique_items

In [ ]:
items

array(['Milk', 'Snack', 'Bread', 'Soda'], dtype=object)

In [ ]:
encoded_vals = []
def custom():
  for index, row in new_items.iterrows():
    labels = {}
    uncommons = list(set(items) - set(row))
    #print(uncommons)
    commons = list(set(items).intersection(row))
    #print("C: ",commons)
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)
  encoded_vals[0]

custom()
ohe_df = pd.DataFrame(encoded_vals)

In [ ]:
ohe_df.head()

   Soda  Snack  Milk  Bread
0     0      0     1      1
1     1      1     0      1
2     1      1     1      1
3     1      1     0      0
4     1      0     1      1

In [ ]:
freq_items = apriori(ohe_df, min_support=0.4, use_colnames=True)
freq_items

    support              itemsets
0       0.8                (Soda)
1       0.6               (Snack)
2       0.6                (Milk)
3       0.8               (Bread)
4       0.6         (Soda, Snack)
5       0.4          (Soda, Milk)
6       0.6         (Soda, Bread)
7       0.4        (Snack, Bread)
8       0.6         (Milk, Bread)
9       0.4  (Soda, Snack, Bread)
10      0.4   (Soda, Milk, Bread)

In [ ]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.8)
rules

      antecedents consequents  antecedent support  ...  lift  leverage  conviction
0         (Snack)      (Soda)                 0.6  ...  1.25      0.12         inf
1          (Milk)     (Bread)                 0.6  ...  1.25      0.12         inf
2  (Snack, Bread)      (Soda)                 0.4  ...  1.25      0.08         inf
3    (Soda, Milk)     (Bread)                 0.4  ...  1.25      0.08         inf

[4 rows x 9 columns]